.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    padding-top: 0.5rem;
    margin: 0.5rem;
    width: 100%;
  }
  
  .userInput {
    flex-grow: 1;
    resize: none;
    overflow: auto;
    max-width: calc(100% - 56px);
    max-height: 72px;
    /* width: calc(100% - 40px); */
    margin-right: 8px;
  }
  
  .submitButton {
    background-color: #0070f3;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 32px;
    width: 32px;
    outline: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    margin-right: 12px;
  }
  
  .submitButton:hover {
    background-color: #0051b7;
  }